{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "browsers": [ "last 2 version and > 2% and not dead", "ie >= 10" ]
        }
      }
    ]
  ]
}