node_modules
test
resources
assets/icons/raw
assets/icons/symbol
.eslintignore
.eslintrc
.travis.yml
karma.conf.js
.cache
.test-cache
.karma-parcel
bundler.js
.idea

_config.yml
Gemfile
Gemfile.lock
docs
_site
