@import url('bpmn-js/dist/assets/diagram-js.css');
@import url('bpmn-js/dist/assets/bpmn-font/css/bpmn.css');
@import url('../icons/include/css/choreography.css');


.djs-select-wrapper, .djs-rename-wrapper {
    position: absolute;
    display: flex;
    left: 55px;
    top: 0px;
    padding: 8px;
    margin-top: -1px;
    height: 46px;
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
}

.two-column.open .djs-select-wrapper,
.two-column.open .djs-rename-wrapper {
    left: 101px;
}

.djs-rename-wrapper {
    display: none;
}

.djs-select-wrapper > *:last-child,
.djs-rename-wrapper > *:last-child {
    margin-right: 0;
}

.djs-select-wrapper > button {
    font-size: 20px;
    text-align: center;
    line-height: 50%;
    width: 30px;
    height: 30px;
    padding: 0px;

    background-color: transparent;
    border-style: none;
}

.djs-select-wrapper > button:hover {
    color: var(--palette-entry-hover-color);
}

.djs-rename,
.djs-select {
    margin-right: 10px;
}

.djs-rename,
.djs-select {
    width: 300px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0 !important;
}

.djs-select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image:
        linear-gradient(45deg, transparent 50%, #A6A6A6 50%),
        linear-gradient(135deg, #A6A6A6 50%, transparent 50%);
    background-position:
        calc(100% - 15px) calc(1em + 0px),
        calc(100% - 10px) calc(1em + 0px);
    background-size:
        5px 5px,
        5px 5px;
    background-repeat: no-repeat;
}

.djs-select:focus {
    outline: none;
}

.link-call-choreo-provider .djs-popup-body .entry.active,  .participant-linking-provider .djs-popup-body .entry.active{
    color: var(--popup-header-entry-selected-color);
    border: solid 1px var(--popup-header-entry-selected-color);
}

.djs-popup-body > .italic {
    font-style: italic;
}
