nav {
  margin-bottom: 20px;
}

nav a.active {
  font-weight: bold;
}

img.shadow {
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
}