
.choreo-icon-up:before { content: '\e806'; } /* '' */
.choreo-icon-down:before { content: '\e807'; } /* '' */
.choreo-icon-add-participant-band:before { content: '\e80a'; } /* '' */
.choreo-icon-delete-participant-band:before { content: '\e80b'; } /* '' */
.choreo-icon-add-message:before { content: '\e80e'; } /* '' */
.choreo-icon-hide-message:before { content: '\e80f'; } /* '' */
.choreo-icon-show-message:before { content: '\e810'; } /* '' */
.choreo-icon-choreography-task:before { content: '\e900'; } /* '' */
.choreo-icon-subchoreography-collapsed:before { content: '\e901'; } /* '' */
.choreo-icon-subchoreography-expanded:before { content: '\e902'; } /* '' */