@font-face {
  font-family: 'choreography';
  src: url('../font/choreography.eot?81756888');
  src: url('../font/choreography.eot?81756888#iefix') format('embedded-opentype'),
       url('../font/choreography.woff2?81756888') format('woff2'),
       url('../font/choreography.woff?81756888') format('woff'),
       url('../font/choreography.ttf?81756888') format('truetype'),
       url('../font/choreography.svg?81756888#choreography') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'choreography';
    src: url('../font/choreography.svg?81756888#choreography') format('svg');
  }
}
*/
 
 [class^="choreo-icon-"]:before, [class*=" choreo-icon-"]:before {
  font-family: "choreography";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.choreo-icon-add-participant:before { content: '\e800'; } /* '' */
.choreo-icon-participant:before { content: '\e801'; } /* '' */
.choreo-icon-remove-participant:before { content: '\e802'; } /* '' */
.choreo-icon-callchoreography-expanded:before { content: '\e803'; } /* '' */
.choreo-icon-up:before { content: '\e806'; } /* '' */
.choreo-icon-down:before { content: '\e807'; } /* '' */
.choreo-icon-callchoreography-collapsed:before { content: '\e815'; } /* '' */
.choreo-icon-show-message:before { content: '\e816'; } /* '' */
.choreo-icon-remove-message:before { content: '\e817'; } /* '' */
.choreo-icon-toggle-initiating:before { content: '\e81a'; } /* '' */
.choreo-icon-collapse-marker:before { content: '\e81c'; } /* '' */
.choreo-icon-link-participant:before { content: '\e81e'; } /* '' */
.choreo-icon-hide-message:before { content: '\e81f'; } /* '' */
.choreo-icon-link:before { content: '\e820'; } /* '' */
.choreo-icon-choreography-task:before { content: '\e900'; } /* '' */
.choreo-icon-subchoreography-collapsed:before { content: '\e901'; } /* '' */
.choreo-icon-subchoreography-expanded:before { content: '\e902'; } /* '' */